
@if (User.Identity.IsAuthenticated)
{
 <span class="autenticacion">@User.Identity.Name, Sesión Iniciada <a asp-page="/seguridad/logout">Cerrar Sesión</a></span>   
}
else
{
 <span class="autenticacion">Usuario no autenticado <a asp-page="/seguridad/login">Iniciar Sesión</a></span>   
}
